/*	=UTILS AND BASE CONFIGURATION
----------------------------------------------------------------------*/

// Config

$legacy-support-for-ie6: 		false;
$legacy-support-for-ie7: 		false;
$experimental-support-for-svg: 	true;


// Imports

@import "compass/css3";
@import "library/normalize";

@import "library/variables";
@import "library/mixins";
@import "library/helpers";

@import "common";