/*	=MAIN CSS FILE
	
	Put all *main* site styles here. Use @imports.
----------------------------------------------------------------------*/

html{
	background-color: #fff;
	height: 100%;
}

body{
	font: normal #{$fontsize}/#{$lineheight} $serif;
	color: $bodycolor;	
	
	/* Use the body element as site wrapper if possible. Define widths/margins here, and please make use of 'max-width' */
	
	/* Example: */
	width: 80%;
	margin: 0 auto;
	max-width: $page_width;
}


/* Text and image selection styling */

::selection{
	background: $highlight;
	color: #fff;
}
::-moz-selection{
	background: $highlight;
	color: #fff;
}

img::selection{
	background: transparent;
}
img::-moz-selection{
	background: transparent;
}





/*	=LINKS
----------------------------------------------------------------------*/

a {
	-webkit-tap-highlight-color: $highlight;
	color: $accent;
}

a:hover, a:focus{
	color: saturate($accent, 20%);
}


/*	=HEADINGS
----------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
	font-family: $serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Grouped headings */

hgroup{
	margin-bottom: $lineheight;
	
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 0;
	}
}

/* Sub headings, in a hgroup for instance */

.sub{
	color: #888;
	font-style: italic;
}


h1{
	font-size: 2.618em;
	line-height: $lineheight*2;
	margin-bottom: $lineheight;
	
	&.huge{
		font-size: 4.236em;
		line-height: $lineheight*3;
	}
}

h2{
	font-size: 1.984em;
	line-height: $lineheight*2;
	margin-bottom: ceil($lineheight / 2);
}


h3{
	font-size: 1.618em;
	margin-bottom: ceil($lineheight / 2);
}

h4{
	font-size: 1.226em;
	margin-bottom: ceil($lineheight / 4);
}

h5{
	font-size: 1.1em;
}


/*	=MISC ELEMENTS
----------------------------------------------------------------------*/

pre{
	background-color: #eee;
	padding: ceil($lineheight / 4) $gutter;
}


blockquote{
	font-family: $serif;
	font-size: 1.1em;
}



// Common

@import "common";


// Partials

@import "partials/header";
@import "partials/footer";
@import "partials/post";


// Views

@import "views/home";

