/*----------------------------------------------------------------
*
*	STARTING POINT
*
*	Crafted by Johan Brook (http://johanbrook.com)
*
*	Using Sass (http://sass-lang.com) and Compass (http://compass-style.org)
*
*
----------------------------------------------------------------*/

// Set this variable to 'true' to enable debugging features
$DEBUG: true;

// Vendor
@import "vendor/normalize";
@import "compass/css3";

// Config

$legacy-support-for-ie6: 		false;
$legacy-support-for-ie7: 		false;
$experimental-support-for-svg: 	true;

// Imports

@import "library/variables";
@import "library/mixins";
@import "library/helpers";

// Main site styles
@import "main";
@import "responsive";