// VARIABLES


// Colors


$accent: 		darken(#298FE3, 10%);		// Blue
$comp: 			lighten(yellow, 30%);		// Dark blue
$highlight: 	#E32980;					// For callouts, for example

$bodycolor:		#222;


// Typography


$serif: 		Georgia, "Times New Roman", serif;
$sans: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
$monospaced: 	Monaco, "Courier New", Courier, monospace;


$fontsize:		15px;
$lineheight: 	24px;


// Layout

$page_width: 	992px;
$gutter:		16px; 
$column:		68px;