// VARIABLES


// Colors


$accent: 		darken(#298FE3, 10%);		// Blue
$comp: 			lighten(yellow, 30%);		// Dark blue
$highlight: 	#E32980;					// For callouts, for example

$bodycolor:		#222;


// Typography


$serif: 		Georgia, "Times New Roman", serif;
$sans: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
$monospaced: 	Monaco, "Courier New", Courier, monospace;

// Typography

$size:			15;
$leading:		24;

$fontsize:		$size/16 * 1rem;
$ratio:			$leading/$size;

$lineheight:	$ratio*1em;

// Layout

$page_width: 	992px;
$gutter:		16px; 
$column:		68px;