@import "variables";


/**
*	Main grid container
*/

#grid{

    /* Dimensions - same width as your grid with gutters (980px) */
    width: $page_width + $gutter*2;

    /* Grid (left-aligned)
    position: absolute;
    top: 0;
    left: 0;
    */

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -#{$page_width / 2 + $gutter};
	z-index: 999;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: $column;
    margin-left: $gutter;

	background-color: transparentize(green, 0.8);
	
	&.first-line{
		margin-left: $gutter - 1px;
	}

}

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* line height */
    height: ceil($lineheight / 4 - 1px);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    margin: 0;
    padding: 0;

}

#grid.grid-2 div.vert{

    /* Vertical grid line colour for grid 3 */
    border-color: #bfebff;
	border-style: dotted;
	width: $gutter - 1px;
	border-width: 0 1px;
	margin-left: $gutter - 1px;
	background-color: transparentize(#bfebff, 0.7);
	
	&.first-line{
		margin-left: $gutter / 2 - 1px;
	}
}
