/*----------------------------------------------------------------
*
*	STARTING POINT
*
*	Crafted by Johan Brook (http://johanbrook.com)
*
*	Using Sass (http://sass-lang.com) and Compass (http://compass-style.org)
*
*	Modular Scale  (http://modularscale.com/scale/?px1=14&px2=308&ra1=1.618&ra2=0)
*	---------------------- 
*	14px @ 1:1.618	 
*	308px @ 1:1.618	
*	----------------------
*
----------------------------------------------------------------*/
/*	=UTILS
----------------------------------------------------------------------*/
/* MEYER RESET (HTML5) */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 6, ../sass/library/_reset.scss */
strong {
  font-weight: bold;
}

/* line 7, ../sass/library/_reset.scss */
em {
  font-style: italic;
}

/* line 8, ../sass/library/_reset.scss */
small {
  font-size: .9em;
}

/*	=GLOBAL ANIMATIONS
----------------------------------------------------------------------*/
/* Reseting animation */
@-webkit-keyframes reset {
  /* line 122, ../sass/_base.scss */
  0% {
    opacity: 0;
  }

  /* line 123, ../sass/_base.scss */
  100% {
    opacity: 0;
  }
}

/*- ELEMENT SETUP
----------------------------------------------------------------------*/
/* line 132, ../sass/_base.scss */
img {
  max-width: 100%;
  height: auto;
}
/* line 136, ../sass/_base.scss */
img.noscale {
  max-width: none;
}

/* Make links 'clickable' */
/* line 142, ../sass/_base.scss */
a {
  position: relative;
}

/* line 146, ../sass/_base.scss */
a:active, a:focus {
  outline: none;
  top: 1px;
}

/* line 152, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  /* Fixes kerning. Watch out for some performance issues. */
  text-rendering: optimizeLegibility;
}
/* line 156, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 162, ../sass/_base.scss */
pre, code {
  font-family: Monaco, "Courier New", Courier, monospace;
  /* Code doesn't look that good antialiased */
  -webkit-font-smoothing: subpixel-antialiased;
}

/*- GLOBAL HELPER CLASSES
----------------------------------------------------------------------*/
/* Nicer ampersand */
/* line 176, ../sass/_base.scss */
.amp {
  font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: normal;
}

/* Quick floating */
/* line 184, ../sass/_base.scss */
.alignleft {
  float: left;
}

/* line 187, ../sass/_base.scss */
.alignright {
  float: right;
}

/* line 190, ../sass/_base.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* line 195, ../sass/_base.scss */
.center {
  text-align: center;
}

/* line 198, ../sass/_base.scss */
.left {
  text-align: left;
}

/* line 201, ../sass/_base.scss */
.right {
  text-align: right;
}

/*- NON-SEMANTIC HELPER CLASSES
----------------------------------------------------------------------*/
/* Clearing stuff */
/* line 213, ../sass/_base.scss */
.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0;
}

/* Clearfix hack */
/* line 82, ../sass/_base.scss */
.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 90, ../sass/_base.scss */
.group {
  display: inline-block;
}
/* line 91, ../sass/_base.scss */
* html .group {
  height: 1%;
}
/* line 92, ../sass/_base.scss */
.group {
  display: block;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 229, ../sass/_base.scss */
.hidden {
  display: none;
}

/* Hide only visually, but have it available for screenreaders */
/* line 234, ../sass/_base.scss */
.visuallyhidden {
  position: absolute;
  left: -999em;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 240, ../sass/_base.scss */
.invisible {
  visibility: hidden;
}

/*	=MAIN
----------------------------------------------------------------------*/
/* line 4, ../sass/_main.scss */
html {
  /* Hater? Remove the line below then .. */
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/_main.scss */
body {
  font: normal 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
  /* Use the body element as site wrapper if possible. Define widths/margins here, and please make use of 'max-width' */
  /* Example: */
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}

/* line 23, ../sass/_main.scss */
img::selection {
  background: transparent;
}

/* line 26, ../sass/_main.scss */
img::-moz-selection {
  background: transparent;
}

/*	=LINKS
----------------------------------------------------------------------*/
/* line 34, ../sass/_main.scss */
a {
  -webkit-tap-highlight-color: white;
  color: #3c75a3;
}

/*	=HEADINGS
----------------------------------------------------------------------*/
/* line 47, ../sass/_main.scss */
h1 {
  font-size: 1.984em;
  line-height: 48px;
}

/* line 52, ../sass/_main.scss */
h2 {
  font-size: 1.226em;
}

/*	=BUTTON STYLES
----------------------------------------------------------------------*/
/* line 9, ../sass/common/_buttons.scss */
.button,
input[type="submit"],
input[type="button"],
button {
  display: inline-block;
}

/*	=FORM STYLING
----------------------------------------------------------------------*/
/* line 10, ../sass/common/_forms.scss */
.text,
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"] {
  font-size: 99%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Errors: */
/* line 18, ../sass/common/_forms.scss */
.negative {
  color: #cc0000;
}

/* Confirmations */
/* line 25, ../sass/common/_forms.scss */
.positive {
  color: green;
}

/*	=HEADER
----------------------------------------------------------------------*/
/*	=FOOTER
----------------------------------------------------------------------*/
/*	=EXAMPLE HOME VIEW
----------------------------------------------------------------------*/
/*	=RESPONSIVE STYLES
----------------------------------------------------------------------
	
	I highly encourage you to tailor these queries to fit your project.

*/
/* 
	For iPhone 4 and high-def Android phones. Remember to use 'background-size' do define the original dimensions 

*/
/* 
		TABLET LAYOUT
			Or smaller screens. Define the 'max-width' to whatever.
			
		Inherits styles from: default layout

--------------------------------------------------------------------------------- */
/* 
		MOBILE LAYOUT
			
		Inherits styles from: default layout	
		
--------------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* line 50, ../sass/_responsive.scss */
  body {
    -webkit-text-size-adjust: 100%;
  }

  /* line 57, ../sass/_responsive.scss */
  .hide-mobile {
    display: none;
  }

  /* line 61, ../sass/_responsive.scss */
  pre {
    white-space: normal;
  }
}
/*

	SMALL SCREEN LAYOUT
		Like the iPhone in portrait mode
	
	Inherits styles from: mobile layout and default layout.

--------------------------------------------------------------------------------- */
/*	=PRINT STYLES
----------------------------------------------------------------------*/
