/*	=BUTTON STYLES
----------------------------------------------------------------------*/

// Button styling/mixins goes here

.button,
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	$basecolor: $accent;
	
	display: inline-block;
	text-decoration: none;
	@include smooth;
}