/*- ELEMENT SETUP
----------------------------------------------------------------------*/

img,
object,
embed,
video {
	max-width: 100%;
	height: auto;
	
	&.noscale {
		max-width: none;
	}
}


/* Make table headings align left */
th{
	text-align: left;
}


/*	=LINKS
----------------------------------------------------------------------*/

a {
	color: $accent;
	position: relative;
}

a:hover, a:focus{
	color: saturate($accent, 20%);
}

/* Make links 'clickable' */
a:active, a:focus{
	outline: none;
	top: 1px;
}


/*	=HEADINGS
----------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0;
	padding: 0;
	
	a{
		font-weight: inherit;
	}
}


.huge {
	@include rem(39);
}

h1 {
	@include rem(28);
	margin-bottom: 1em;
}

h2 {
	@include rem(24);
}

h3 {
	@include rem(18);
	color: $gray;
}

h4 {
	@include rem(14);
}


/*	=MISC ELEMENTS
----------------------------------------------------------------------*/

p{
	margin: 0;
	padding: 0;
}

pre{
	overflow: auto;
}

pre, code{
	font-family: $monospaced;
	/* Code doesn't look that good antialiased */
	-webkit-font-smoothing: subpixel-antialiased;
}



blockquote{
	
}