/*- ELEMENT SETUP
----------------------------------------------------------------------*/

img {
	max-width: 100%;
	height: auto;
	
	&.noscale{
		max-width: none;
	}
}

/* Make links 'clickable' */
a{
	position: relative;
}

a:active, a:focus{
	outline: none;
	top: 1px;
}

/* Make table headings align left */
th{
	text-align: left;
}


/* Emphasize the kbd element */
kbd{
	font-family: $sans;
	font-weight: bolder;
}

del{
	color: #666;
}


h1, h2, h3, h4, h5, h6{
	/* Fixes kerning. Watch out for some performance issues. */
	text-rendering: optimizeLegibility;	
	margin: 0;
	padding: 0;
	font-size: 1em;
	
	a{
		font-weight: inherit;
	}
}

p{
	margin: 0;
	padding: 0;
}

pre{
	overflow: auto;
}

pre, code{
	font-family: $monospaced;
	/* Code doesn't look that good antialiased */
	-webkit-font-smoothing: subpixel-antialiased;
}




/*	=MISC ELEMENTS
----------------------------------------------------------------------*/

pre{
	background-color: #eee;
	padding: $lineheight / 4 $gutter;
}


blockquote{
	
}