/*	=MISC ELEMENTS
----------------------------------------------------------------------*/

pre{
	background-color: #eee;
	padding: ceil($lineheight / 4) $gutter;
}


blockquote{
	font-family: $serif;
	font-size: 1.1em;
}