/*	=FORM STYLING
----------------------------------------------------------------------*/

.text,
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"] {
	font-size: 99%;
	@include box-sizing("border-box");
}

textarea{
	resize: vertical;
}

/* Errors: */

.negative{
	color: darken(red, 10%);
}


/* Confirmations */

.positive{
	color: green;
}	

